@font-face {
	font-family: "Gagalin";
	src: url("/fonts/Gagalin-Regular.otf") format("opentype");
	font-weight: normal;
	font-style: normal;
}
body {
	overflow: -moz-scrollbars-none;
	-ms-overflow-style: none;
}

body::-webkit-scrollbar {
	width: 0;
	height: 0;
}
